<div class="container" [ngClass]="{'filled-cell': cell.isLocked}">
    <div class="row">
      <div class="col-xs-2"><input class="small-input" type="number" [disabled]="cell.isLocked" [(ngModel)]="cell.temp1"></div>
      <div class="col-xs-2 offset-6"><input class="small-input" type="number" [disabled]="cell.isLocked" [(ngModel)]="cell.temp2"></div>
    </div>
    <div class="row-8">
      <div class="col-xs-8">
        <input type="number" [(ngModel)]="cell.value" [disabled]="cell.isLocked" [ngClass]="{'bold': cell.isLocked, 'normal': !cell.isLocked}">
      </div>
    </div>
    <div class="row" style="margin-bottom: 1px;">
      <div class="col-xs-2"><input class="small-input" type="number" [disabled]="cell.isLocked" [(ngModel)]="cell.temp3"></div>
      <div class="col-xs-2 offset-6"><input class="small-input" type="number" [disabled]="cell.isLocked" [(ngModel)]="cell.temp4"></div>
    </div>
</div>
